*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 150px 250px 200px 100px;
    grid-template-areas: 
    "header header header header"
    "smallBox1 smallBox2 smallBox3 sideBar"
    "mainContent mainContent mainContent sideBar"
    "footer footer footer footer";
    gap: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.box{
    background-color: #4169E1;
}

header{
    display: grid;
    grid-area: header;
}

.smallBox1{
    display: grid;
    grid-area: smallBox1;  
}

.smallBox2{
    display: grid;
    grid-area: smallBox2; 
}

.smallBox3{
    display: grid;
    grid-area: smallBox3; 
}

.sideBar{
    display: grid;
    grid-area: sideBar; 
}

.mainContent{
    display: grid;
    grid-area: mainContent;   
}

footer{
    display: grid;
    grid-area: footer;
}